.container {
  display: grid;
  grid-template-columns: [left] 0px [right] 100%;
  grid-template-rows: [header]70px [main] calc(100% - 70px);
  grid-template-areas:
    "navbar header"
    "navbar main";
  height: 100%;
}

.mainArea {
  grid-area: main;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: [left] 250px [right] calc(100% - 250px);
    grid-template-areas:
      "navbar header"
      "navbar main";
    &.expandedSidebar {
      grid-template-rows: [header]70px [main] calc(100% - 70px);
      grid-template-columns: [left] 0px [right] 100%;
    }
  }
}
