@import '../../app.global.scss';

///// ----- INDEX ----- /////

.accordionHeader {
  background-color: $primary;
  border-radius: 4px !important;
  margin: 0 5px 0 5px !important;
}

.flexContainer {
  margin: 0 10px 0 10px;
  padding: 10px;
  border: 1px solid black;

  .accordionBox {
    border: 1px solid red;

    .steps {
      width: 100%;
      display: flex;
      flex-direction: column;

      .textfield {
        margin: 10px;
        width: 100%;
      }
      .nextButton {
        margin-top: 20px;
        width: 100%;
        float: right;
      }

      .addEditButton {
        width: 35%;
      }

      .Step2 {
        .step2Measurements {
          display: flex;
        }
      }
    }
    .submitButtonDiv {
      margin: 15px 5px 0 5px;
      .submitButton {
        width: 100%;
      }
    }
  }
}

///// ----- STEP 2 ----- /////
.sortableList {
  margin: 0.25rem;
}

.editMode {
  transition: background-color 100ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 4px;
  &:hover {
    cursor: grab;
    background-color: rgb(235, 235, 235);
  }
}

@media screen and (min-width: 1024px) {
  ///// ----- INDEX ----- /////
  .flexContainer {
    display: flex;
    flex-direction: row;

    .accordionBox {
      flex: 50%;
    }

    .recipeDetailsBox {
      flex: 50%;
    }
  }

  .steps {
    .nextButton {
      max-width: 20%;
      align-self: flex-end;
    }
  }
}
