@import '../../app.global.scss';

///// ----- INDEX ----- /////

.accordionHeader {
  background-color: $primary;
  border-radius: 4px !important;
  margin: 0 5px 0 5px !important;
  padding: 5px !important;
}

.flexContainer {
  margin: 0 10px 0 10px;
  padding: 10px;
}

/// ----- STEPS, GENERAL ----- /////
.textfield {
  margin: 10px !important;
}

///// ----- STEP 1 ----- /////

.Step1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Step2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Step3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

///// ----- STEP 2 ----- /////
.sortableList {
  margin: 0.25rem;
}

.editMode {
  transition: background-color 100ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 4px;
  &:hover {
    cursor: grab;
    background-color: rgb(235, 235, 235);
  }
}

@media screen and (min-width: 1024px) {
  ///// ----- INDEX ----- /////
  .flexContainer {
    display: flex;
    flex-direction: row;

    .accordionBox {
      flex: 50%;
    }

    .recipeDetailsBox {
      flex: 50%;
    }
  }

  //STEPS
  .nextButton {
    align-self: flex-end;
  }
}
