.browseContainer {
  display: flex;
  flex-direction: column;

  border: 2px solid black;

  .searchBox {
    margin: auto;
  }

  .contentContainer {
    display: flex;
    .filters {
      max-width: 300px;

      .filterPaper {
        margin: 30px;
        padding: 15px;
      }

      > p {
        text-align: center;
      }

      .eachListItemsCheckbox {
        padding: 0;
      }
    }
    .searchResults {
    }
  }
}
