.MealCard {
  max-width: 250px;
  margin: 10px;

  .card {
    min-height: 260px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;

    .favouriteIcon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.315);
      &:hover {
        background-color: rgba(255, 255, 255, 0.582);
      }
      color: rgba(0, 0, 0, 0.644);
      .save {
        margin: auto 1rem 1rem auto;
      }
    }

    .content {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      box-shadow: 2px 4px 3px 2px rgba(201, 199, 199, 0.89);
    }
    h2 {
      margin-top: 15px;
      text-align: center;
      font-size: 1em;
      max-height: 40px;
      overflow: hidden;
    }
  }
}
