@import "../../../app.global.scss";

.root {
  h1 {
    margin-left: 20px;
    padding-left: 10px;
  }
  .flexContainer {
    margin: 0 10px 0 10px;
    padding: 10px;

    .accordionHeader {
      background-color: $primaryHover;
      border-radius: 4px;
      // margin: 0 5px 0 5px;

      .heading {
        font-weight: 600;
        color: white;
      }
    }

    .accordionBox {
      max-height: 75vh;
      overflow-y: auto;

      > div {
        box-shadow: none;
      }
      .active {
        background-color: $primary;
      }

      .steps {
        width: 100%;
        display: flex;
        flex-direction: column;

        .textfield {
          margin: 10px auto;
          width: 100%;
        }

        .nextButton {
          width: 100%;
        }

        .doneButton {
          background-color: $primary;
        }

        .Step1 {
          .imageDrop {
            justify-self: center;
          }
        }

        .Step2 {
          .step2Measurements {
            display: flex;
          }
        }
      }
    }

    .recipeDetailsBox {
      max-height: 75vh;
      overflow-y: auto;
    }
  }
}

.submitButtonDiv {
  margin: 15px 5px 10px 5px;
  display: flex;
  justify-content: flex-end;
}

///// ----- STEP 2 ----- /////
.sortableList {
  margin: 0.25rem;
}

.editMode {
  transition: background-color 100ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 4px;
  &:hover {
    cursor: grab;
    background-color: rgb(235, 235, 235);
  }
}

.scanButton {
  display: none;
}

@media screen and (min-width: 1024px) {
  ///// ----- INDEX ----- /////
  .flexContainer {
    display: flex;
    flex-direction: row;

    .accordionBox {
      flex: 50%;

      .nextButton {
        max-width: fit-content;
        float: right;
      }

      .buttonContainer {
        width: 100%;
        display: flex;

        .nextButton {
          max-width: fit-content;
          margin-left: auto;
        }

        .editButton {
          max-height: fit-content;
          margin-right: auto;
        }
      }
    }

    .recipeDetailsBox {
      flex: 50%;
    }
  }

  .scanButton {
    display: block;
  }
}
