@import '../../../app.global.scss';

.root {
  .paper {
    margin: 15px;

    .flexContainer {
      margin: 0 10px 0 10px;
      padding: 10px;

      .accordionHeader {
        background-color: $primaryHover;
        opacity: 0.6;
        border-radius: 4px;
        margin-bottom: 5px;

        .heading {
          font-weight: 600;
          color: white;
        }
      }

      .accordionBox {
        max-height: 85vh;
        overflow-y: auto;

        .active {
          background-color: $primary;
          opacity: 0.9;
        }

        > div {
          box-shadow: none;
        }

        .steps {
          width: 100%;
          display: flex;
          flex-direction: column;

          .textfield {
            margin: 10px auto;
            width: 100%;
          }

          .editButton {
            margin-top: 15px;
          }

          .nextButton {
            margin-top: 15px;
            width: 100%;
          }

          .doneButton {
            background-color: $primary;
          }

          .Step1 {
            .imageDrop {
              justify-self: center;
            }
          }

          .Step2 {
            .step2Measurements {
              display: flex;
            }
          }
        }
      }

      .recipeDetailsBox {
        max-height: 75vh;
        overflow-y: auto;
      }
    }
  }
}

.submitButtonDiv {
  margin: 15px 5px 10px 5px;
  display: flex;
  justify-content: flex-end;

  .submitButton {
    margin: 0 10px 10px 0;
  }
}

///// ----- STEP 2 ----- /////
.sortableList {
  margin: 0.25rem;
}

.editMode {
  transition: background-color 100ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 4px;
  &:hover {
    cursor: grab;
    background-color: rgb(235, 235, 235);
  }
}

@media screen and (min-width: 1024px) {
  ///// ----- INDEX ----- /////
  .flexContainer {
    display: flex;
    flex-direction: row;

    .accordionBox {
      flex: 50%;

      .nextButton {
        max-width: fit-content;
        float: right;
      }

      .buttonContainer {
        width: 100%;
        display: flex;

        .nextButton {
          max-width: fit-content;
          margin-left: auto;
        }

        .editButton {
          max-height: fit-content;
          margin-right: auto;
        }
      }
    }

    .recipeDetailsBox {
      flex: 50%;
    }
  }
}
