.CroppingMain {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  outline: none;

  .imageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 65%;
    position: relative;
    > i {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.493);
      z-index: 1;
      position: absolute;
      top: 0.5rem;
      right: 0.75rem;
    }
  }

  .slidersAndButtons {
    display: flex;
    flex-direction: column;
    width: 35%;
    z-index: 10;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    .slidersDiv {
      text-align: center;
      padding: 1rem;
      > span {
        padding: 20px 0;
      }
    }
    .buttonAndImageDiv {
      display: flex;
      flex-direction: column;
      margin: auto 1rem 1rem auto;
      width: calc(100% - 2rem);
      .imageAndButton {
        display: flex;
        flex-direction: column;
        // height: 50%;
        Button {
          width: fit-content;
        }
        img {
          max-width: 50%;
          max-height: 10vh;
        }
      }
    }
    .resetProceed {
      display: flex;
      margin: 1rem 1rem 1rem auto;
      Button {
        margin-left: 1rem;
      }
    }
  }
}
