.header {
  background: rgb(216, 85, 45);
  height: 70px;
  width: 100%;
  grid-area: header;
  border-radius: 0 45px 0 0;
  display: flex;

  i {
    margin-right: 30px;
    padding-top: 20px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  p {
    cursor: pointer;
    margin-right: 30px;
    padding-top: 25px;
    font-size: 1.2rem;
    color: white;
  }
}
