.header {
  background: rgb(211, 62, 17);
  height: 70px;
  width: 100%;
  grid-area: header;
  border-radius: 0 45px 0 0;
  display: flex;

  input {
    height: 50px;
    width: 300px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    font-size: 1rem;
  }

input[type="text"] {
  padding-left: 10px;
}

  input:focus {
    outline: none;
  }

  input::placeholder{
  text-align: center;
  padding: 10px;
  }

  i {
    margin-right: 30px;
    padding-top: 20px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }

  p {
    cursor: pointer;
    margin-right: 30px;
    padding-top: 25px;
    font-size: 1.2rem;
    color: white;
  }
}
