.header {
  background: rgb(216, 85, 45);
  height: 70px;
  width: 100%;
  grid-area: header;
  display: flex;
  align-items: center;

  .button {
    color: #fff;
    margin-right: 1rem;
    // font-size: ;
    i {
      font-size: 2rem;
    }
  }
}
