.navbar {
  background: linear-gradient(
    90deg,
    rgb(216, 132, 54) 0%,
    rgb(216, 85, 45) 100%
  );

  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  grid-area: header;
  z-index: 2;
  position: relative;

  .subLinks {
    background: linear-gradient(
      90deg,
      rgb(216, 132, 54) 0%,
      rgb(238, 82, 35) 100%
    );

    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 40px;
    color: white;
    margin: 0 auto 0 auto;
    padding-right: 1rem;
    span {
      display: block;
      width: 30px;
      margin-left: 60px;
    }
    p {
      display: block;
    }
  }
}

.logoAndHamburger {
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;

  img {
    cursor: pointer;
  }

  .smallLogo {
    margin: auto auto auto 1rem;
  }

  .hamburger {
    width: 48px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 7px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto 1rem auto 1rem;
    z-index: 5;

    div {
      width: 23px;
      height: 3px;
      background: #fff;
      border-radius: 4px;
      transition: transform 180ms ease-in-out;

      &:nth-child(1),
      &:nth-child(3) {
        transform-origin: 100% 50%;
        transition-delay: 50ms;
      }
    }

    * + * {
      margin-top: 5px;
    }

    &.open {
      > div {
        &:nth-child(1) {
          transform: rotateZ(-45deg) translate3d(-2px, -2px, 0);
        }

        &:nth-child(2) {
          transform: scale3d(0, 0, 0);
        }

        &:nth-child(3) {
          transform: rotateZ(45deg) translate3d(-2px, 2px, 0);
        }
      }
    }
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 250ms ease-in-out max-height;
  list-style: none;
  position: absolute;
  top: 70px;
  left: 0;
  overflow-y: auto;
  a {
    text-decoration: none;
  }
}

.expandedNoSidebar {
  transition: none;
}

.navLinksLi {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(216, 132, 54) 0%,
    rgb(216, 85, 45) 100%
  );

  .icon {
    margin: 0 0 0 2rem;
    color: #fff;
    font-size: 1.5rem;
  }
  .link {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 60px;
    color: white;
    margin: 0 auto 0 1rem;
    padding-right: 1rem;
  }
  span {
    width: 30px;
    padding-right: 53px;
  }
}

.submenu {
  transition: 250ms ease-in-out max-height;
}

.searchbarMobile {
  display: flex;
  justify-content: center;
  position: relative;
  height: 48px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(216, 132, 54) 0%,
    rgb(216, 85, 45) 100%
  );
  .buttonDiv {
    margin-left: auto;
  }
  .button {
    margin-left: auto;
    margin-right: 1rem;
    color: white;
  }
  .account {
    margin-right: 1rem;
    color: white;
  }

  .search {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    i {
      color: rgba(0, 0, 0, 0.699);
    }
    input {
      color: rgba(0, 0, 0, 0.699);
      padding: 0.75rem;
    }
    > div > div {
      border-radius: 2rem;
      background-color: white;
    }
  }
  & > div {
    display: flex;
  }
  > a {
    margin: auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 251px;
    height: 100vh;
    grid-area: navbar;
  }

  .logoAndHamburger {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 1rem 0;
    img {
      width: 175px;
    }
    .hamburger {
      display: none;
    }
  }

  .navMenu {
    list-style: none;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .navLinksLi {
    text-align: start;
    width: 250px;

    span {
      width: 30px;
      padding-right: 53px;
    }

    &:hover {
      //Man kan inte transitiona gradients :(
      background: linear-gradient(
        90deg,
        rgb(216, 85, 45) 0%,
        rgb(216, 132, 54) 100%
      );
      border-radius: 4px;
    }
  }
}
