/*i {
    margin-right: 15px;
    display: block;
}*/

span {
display: inline-block;
width: 30px;
}

.NavbarItems {
    background: linear-gradient(90deg, rgb(219, 120, 27) 0%, rgb(211, 62, 17) 100%);
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    grid-column: 1;
    grid-row: 1;
    border-radius: 45px 0 0 0;
    
}

.navbar-logo {
    height: auto;
    color: #fff;
    justify-self: start;
    
    cursor: pointer;
    
}

.nav-menu {
    display: grid;
    grid-column: 1;
    list-style: none;
    text-align: left;
    width: 100%;
  
 
    
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: larger;
    display: block;
    border-top-style: groove;
    border-color: rgb(211, 65, 85);
    border-width: 2px;
}

.nav-links:hover {
    background-color: #a71616;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    display: block;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        /*left: -100%;*/
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background:rgb(223, 96, 128);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        background-color: rgb(223, 96, 128);
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: rgb(223, 96, 128);
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background:rgb(223, 96, 128);
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: rgb(223, 96, 128);
        color: #6568F4;
        transition: 250ms;
    }

    Button {
        display: none;
    }
}