.NavTopBG {
    background: rgb(211, 62, 17);
    height: 70px;
    width: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    border-radius: 0 45px 0 0;
   
}
input {
    grid-column-start: 1;
    display: grid;
    height: 50px;
    width: 300px;
    place-self: center end;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}
i {
    grid-column-start: 2;
    display: grid;
    justify-self: right;
    margin-right: 30px;
}

.fa-user{
    font-size: 2rem;
    padding-top: 20px;
    color: white;
}